<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Final Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div th:insert="menu :: header"></div>

<main>
    <h1 class="text-center fw-bold mt-3">Комп'ютери</h1>
    <section class="py-5 px-3">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="computer : ${posts.getContent()}">
                    <div class="card shadow-sm">
                        <img th:src="|data:image/jpg;base64, ${imageUtil.getFirstImage(computer.images)}|"
                             alt="product.jpg"/>

                        <div class="card-body">
                            <h5 th:text="|${computer.model}|"></h5>
                            <div class="d-flex justify-content-between align-items-center float-end">
                                <div class="btn">
                                    <a th:href="@{/computers/computer/{id}(id = ${computer.id})}"
                                       type="button" class="btn btn-outline-primary">Переглянути</a>
                                </div>
                            </div>
                            <h6 th:text="|${computer.manufacturer}|"></h6>
                            <p class="card-text" th:text="'₴' + ${computer.price}"></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="..." class="mt-5 d-flex align-items-center justify-content-center" style="">
            <ul class="pagination flex-wrap">
                <li class="page-item" th:classappend="${converterUtil.toInt(param.page) == 1} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/computers(page=${converterUtil.toInt(param.page) - 1})}"
                       tabindex="-1" aria-disabled="true" >Попередня</a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(1, posts.getTotalPages())}">
                <li class="page-item" th:classappend="${converterUtil.toInt(param.page) == i} ? 'active' : ''">
                    <a class="page-link" th:href="@{/computers(page=${i})}" th:text="${i}"></a></li>
                </th:block>
                <li class="page-item"
                    th:classappend="${converterUtil.toInt(param.page) == posts.getTotalPages()} ? 'disabled' : ''">
                    <a class="page-link"
                       th:href="@{/computers(page=${converterUtil.toInt(param.page) + 1})}">Наступна</a>
                </li>
            </ul>
        </nav>
    </section>
</main>

<footer class="text-muted d-flex justify-content-center py-2">
    <a href="#" class="opacity-50 link-dark">Back to top</a>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>
