<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Final Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div th:insert="menu :: header"></div>

<main>
    <h1 class="text-center fw-bold mt-3">Видалення</h1>
    <h4 class="text-center fw-light">Компьютер</h4>
    <section class="py-4 px-3">
        <div class="container">
            <div id="photoCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button th:each="image, iterStat : ${computer.images}"
                            type="button" data-bs-target="#photoCarousel"
                            data-bs-slide-to="0"
                            th:attr="data-bs-slide-to=${iterStat.index},aria-label='Slide ' + ${iterStat.index}"
                            th:class="${iterStat.index == 0} ? 'active' : ''"></button>
                    <!--                            <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="1"-->
                    <!--                                    aria-label="Slide 2"></button>-->
                    <!--                            <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="2"-->
                    <!--                                    aria-label="Slide 3"></button>-->
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item" th:each="image, iterStat : ${computer.images}"
                         th:classappend="${iterStat.index == 0} ? 'active' : ''">
                        <img th:src="|data:image/jpg;base64, ${imageUtil.getImgData(image)}|"
                             class="d-block w-auto m-auto" style="max-height: 400px" alt="...">
                    </div>
                    <!--                            <div class="carousel-item">-->
                    <!--                                <img src="../../images/computer.jpg" class="d-block w-100" alt="...">-->
                    <!--                            </div>-->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <h4 class="mb-4">Усі характеристики</h4>
                </div>
                <div class="col-12 col-lg-6">
                    <table class="table table-striped">
                        <!-- table -->
                        <tbody>
                        <tr>
                            <th>Виробник</th>
                            <td th:text="${computer.manufacturer}"></td>
                        </tr>
                        <tr>
                            <th>Назва моделі</th>
                            <td th:text="${computer.model}"></td>
                        </tr>
                        <tr>
                            <th>Оперативна пам'ять</th>
                            <td th:text="${computer.ram}"></td>
                        </tr>
                        <tr>
                            <th>Тип оперативної пам'яті</th>
                            <td th:text="${computer.ramType}"></td>
                        </tr>
                        <tr>
                            <th>Операційна система</th>
                            <td th:text="${computer.operatingSystem}"></td>
                        </tr>
                        <tr>
                            <th>Ціна</th>
                            <td th:text="${computer.price}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6">
                    <table class="table table-striped">
                        <!-- table -->
                        <tbody>
                        <tr th:if="${computer.processor != null}">
                            <th>Процесор</th>
                            <td th:text="${computer.processor.manufacturer} + ' ' +
                                                ${computer.processor.model} + ' ' + ${computer.processor.frequency}"></td>
                        </tr>
                        <tr th:if="${computer.videoCard != null}">
                            <th>Відеокарта</th>
                            <td th:text="${computer.videoCard.manufacturer} + ' ' +
                                                ${computer.videoCard.model} + ' ' + ${computer.videoCard.vram}"></td>
                        </tr>
                        <tr th:if="${computer.videoCard != null}">
                            <th>Тип відеокарти</th>
                            <div th:switch="${computer.videoCard.type.name}">
                                <td th:case="'DISCRETE'">Дискретна</td>
                                <td th:case="'INTEGRATED'">Вбудована</td>
                            </div>

                        </tr>
                        <tr th:if="${computer.diskDrive != null}">
                            <th>Накопичувач</th>
                            <td th:text="${computer.diskDrive.name}"></td>
                        </tr>
                        <tr th:if="${computer.diskDrive != null}">
                            <th>Тип накопичувача</th>
                            <td th:text="${computer.diskDrive.type}"></td>
                        </tr>
                        <tr th:if="${computer.diskDrive != null}">
                            <th>Обсяг пам'яті</th>
                            <td th:text="${computer.diskDrive.capacity}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <form th:action="@{/delete/computer/{id}(id=${computer.id})}" th:method="POST">
                <button type="submit" class="btn btn-danger btn-lg mt-4 justify-content-center">Видалити</button>
            </form>

<!--            <a th:href="" type="button" class="btn btn-danger btn-lg mt-4 justify-content-center"></a>-->
        </div>
    </section>
</main>

<footer class="text-muted d-flex justify-content-center py-2">
    <a href="#" class="opacity-50 link-dark">Back to top</a>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>