<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Final Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div th:insert="menu :: header"></div>

<main>
    <h1 class="text-center fw-bold mt-3">Редагування</h1>
    <h4 class="text-center fw-light">Відеокарта</h4>
    <section class="py-4 px-3">
        <div class="container">
            <form th:action="@{/update/video-card/__${videoCard.id}__}" th:object="${videoCard}" method="post"
                  enctype="multipart/form-data">
                <div class="input-group mb-3 row has-validation">
                    <div class="col">
                        <label for="videoCard_manufacturer" class="mb-2">Виробник</label>
                        <input id="videoCard_manufacturer" type="text" class="form-control"
                               th:field="|*{manufacturer}|" required>
                        <!--          <div class="invalid-feedback" th:if="${#fields.hasErrors('manufacturer')}" th:errors="${videoCard.manufacturer}"></div>-->
                    </div>
                    <div class="col">
                        <label for="videoCard_model" class="mb-2">Назва моделі</label>
                        <input id="videoCard_model" type="text" class="form-control" th:field="|*{model}|" required>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('model')}"
                             th:errors="${videoCard.model}"></div>
                    </div>
                </div>
                <div class="input-group mb-3 row">
                    <div class="col">
                        <label for="videoCard_vRam" class="mb-2">Пам'ять</label>
                        <input id="videoCard_vRam" type="text" class="form-control" placeholder="6144 Mb"
                               th:field="|*{vram}|">
                    </div>
                    <div class="col has-validation">
                        <label class="mb-2">Тип</label>
                        <div class="form-check">
                            <label class="form-check-label" for="INTEGRATED">
                                <input class="form-check-input" type="radio" name="videoCardType" id="INTEGRATED"
                                       th:field="|*{type}|" value="INTEGRATED" required>
                                Вбудована
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="DISCRETE">
                                <input class="form-check-input" type="radio" name="videoCardType" id="DISCRETE"
                                       th:field="|*{type}|" value="DISCRETE">
                                Дискретна
                            </label>
                        </div>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}"
                             th:errors="${videoCard.type}"></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-4">Зберегти</button>
            </form>

            <div class="text-center mt-4 mb-3">
                <h5 class="fw-bold">Відеокарти</h5>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Виробник</th>
                    <th scope="col">Модель</th>
                    <th scope="col">Пам'ять</th>
                    <th scope="col">Тип</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="v,iterStat : ${videoCards}" th:classappend="${videoCard.id == v.id}? 'table-warning' : ''">
                    <th scope="row" th:text="${iterStat.index + 1}"></th>
                    <td th:text="${v.manufacturer}"></td>
                    <td th:text="${v.model}"></td>
                    <td th:text="${v.vram}"></td>
                    <td th:text="${v.type}"></td>
                    <td>
                        <a th:if="${videoCard.id != v.id}"
                           type="button" class="btn btn-outline-primary "
                           th:href="@{/update/video-card/{id}(id = ${v.id})}">
                            Редагувати
                        </a>
                        <a type="button" class="btn btn-outline-danger ms-2"
                           th:href="@{/delete/video-card/{id}(id = ${videoCard.id})}">
                            Видалити
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

<footer class="text-muted d-flex justify-content-center py-2">
    <a href="#" class="opacity-50 link-dark">Back to top</a>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>
